/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url(../img/bg-login.jpg);
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover{
    color: #3090a1;
}

/* container login */

#login-container {
    background-color: #a6d0e4;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 35vh;
    border-radius: 20px;
    text-align: center;
}

/*formulário*/

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border: none;
    padding: 8px;
    font-size: 1rem;
    margin-bottom: 25px;
}

input:focus{
    border-bottom: 4px solid #3090a1;    
}

#forgot-pass{
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #3090a1;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #3090a1;
}

input[type="submit"]:hover {
    background-color: #fff;
    transition: .5s;
}

/* redes sociais */

#social-container, #social-container p {
    margin-bottom: 10px;
}

#social-container i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px; 
    cursor: pointer;
}

.fa-facebook-f{
    background-color: #3b5998;
}

.fa-linkedin{
    background-color: #0077b5;
}

/* Registrar */

#register-container p {
    margin-bottom: 10px;
}